:root {
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --light-text-color: #272142;
    --heading-font-family: 'Playfair Display',
        serif;
    --default-font-family: 'Poppins',
        sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--light-text-color);
}

a {
    color: var(--branding-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
}

nav {
    padding: 15px 75px;
}

nav.bg-light {
    background-color: var(--secondary-color) !important;
}

nav ul {
    align-self: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: 500;
}

nav a:hover,
nav li .active {
    color: var(--branding-color);
    text-decoration: none;
}

.logo {
    display: inline;
    width: 53px;
    margin: 0;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    color: #272142;
}

.content-container {
    padding: 100px 20px;
    padding-bottom: 0;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.5;
}


.content p {
    /* utilized this size for work page but it also changing text font-size on about page as well */
    font-size: 14px;
}

.content {
    margin: 30px;
}

.women-image {
    width: 100%;
    background: #f6f3ff;
    border-radius: 50%;
    padding: 15px;

}

.btn-branding,
.btn-branding-outline {
    background: var(--branding-color);
    color: white;
    border-radius: 4px;
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    background: transparent;
}

.project-description {
    padding: 120px 60px;
    padding-bottom: 50px;
}

.contact-section {
    background-color: var(--secondary-color);
    border-radius: 4px;

}

footer {
    margin: 120px 0 60px 0;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
    align-items: center;
}

footer p.email {
    font-size: 24px;
    padding: 30px 0;
}

footer .social-links a {
    margin: 0 20px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    color: var(--branding-color);
    background: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}

@media (max-width: 992px) {
    h1 {
        font-size: 47px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 35px;
    }

    nav {
        padding: 15px 5%;
    }

    .hero {
        padding: 80px 20px;
    }

    .hero h1 {
        line-height: 1.2;
    }

    .container {
        padding: 2% 8%;
    }

    .row {
        position: relative;
    }

    .img-wrapper {
        position: absolute;
        opacity: 0.5;
        width: 50%;
        box-shadow: 0px 0px 3px darkslategrey;
    }

    .project-description-wrapper {
        width: 90%;
        margin-top: 10%;
        margin-left: 10%;
        padding: 5% 2%;
        position: relative;
        background: linear-gradient(to bottom, rgba(218, 205, 251, 0.265), rgb(203, 181, 255)50%);
        z-index: 1;
    }

    .project-description,
    .content-container {
        padding: 0;
        text-align: center;
    }

    .content-container {
        position: relative;
    }

    .women-image {
        width: 99%;
        background: transparent;
        position: absolute;
        opacity: 0.7;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }

    .content {
        margin-top: 20%;
    }

    footer .contact-box {
        text-align: center;
        padding: 30px;
    }

    footer p.email {
        font-size: 18px;
        font-weight: bold;
    }
}